@import "../../variables";

.main {
    flex: 1 1 auto;
    > .row {
        margin-left: 0;
        margin-right: 0;
    }
    &__title {
        text-align: center;
    }
    &__users {

    }
    &__server {

    }
}
